/* RESET */
img{
    width: 100%;
}
/* HEADER */
._background{
    background-color: #2c3e50;
    color: white;
    height: 85px;
    display: flex;
    align-items: center;
}
/* CARATTERE SCRITTA PRIMA COLONNA */
.row .col-6:nth-child(1){
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    display: block;
}
/* MODIFICHE LISTA DESTRA */
.row .col-6 .box ul{
    list-style-type: none;
    display: flex; 
    justify-content: flex-end; 
}
.row .col-6 .box ul li{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    font-size: 12px;
}
/* IL MENù */
.row .col-6:nth-child(2){
    text-align: right;
}
.centratura{
    display: flex;
    align-items: center;
}
/* END HEADER */

/* MENù */
._background_2{
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CUSTOM CONTAINER SOTTO HEADER */
.custom-container{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
._container_img{
    width: 230px;
}
.testo-sotto-img{
    margin-top: 20px;
    color: white;
    text-align: center;
}

._icons{
    text-align: center;
    font-size: 29px;
    margin: 0 5px;
}
.container-star{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    height: 5px;
    width: 20%;
    border-radius: 40px;
}
._background_2 .bar{
    background-color: white;
}
._background_2 ._icons{
    color: white;
}
.list-sotto-img ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;  
}
.list-sotto-img ul li{
    color: white;
}

/* PORTFOLIO */
.sottotitolo{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
}
.icons{
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin: 20px 0;
}
.container .sottotitolo .container-star .bar{
    background-color: #212529;
}
[class*="icons"]{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-img{
    width: 250px;
    border-radius: 50%;
}
.icons.red{
    background-color: #ba4b63;
}
.icons.green{
    background-color: #1ea4b6;
}
.icons.black{
    background-color: #140f0f;
}
.icons.water{
    background-color: #1c83c1;
}
.icons.blue{
    background-color: #0e38b5;
}
.icons.skin{
    background-color: #ccb2a3;
}
/* END PORTFOLIO */
/* ABOUT */
@media  (max-width: 767.98px) {
    .special{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* END ABOUT */

/* CONTACT ME */
.custom-container .row .col-12 .box{
    margin-bottom: 50px;
}
/* END CONTACT ME */
/* END MENù */

/* FOOTER */
._first_background_footer{
    background-color: #3a546d;

}
#special-final-list.box {
    text-align: center;
    color: white;
}
._second_background_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    height: 80px;
}
/* END FOOTER */
